

.backWrapper {
    text-align: left;
    margin: 15px;}
  
.backButton{
padding: 8px 16px;
border: 1px solid rgb(183, 183, 181);
border-radius: 8px;
text-decoration: none;
font-size: 20px;
font-weight: 700;
color: rgb(68, 68, 63);
transform: scale(1.1);
}
.backButton:hover,.backButton:focus {
    color: rgb(196, 196, 191);
    background-color: rgb(94, 94, 91);

    }
.additionalLink {
    padding: 5px 16px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-weight: 500;
    transform: scale(1);
    box-shadow: none;
    border: 1px solid rgb(68, 68, 63);
    background-color: rgb(183, 183, 181);;

}  
    .additionalLink:hover,
    .additionalLink:focus {
    transform: scale(1.1);
    border: 1px solid rgb(68, 68, 63);
    background-color: rgb(225, 225, 220);;
    box-shadow: 0px 2px 10px 2px rgb(102, 102, 82);
  }

.wrapperMovie{display: flex;
    gap: 20px;
    font-weight: 500;
    padding: 30px 150px;} 

.movieDataWrapper { 
    text-align: left;
    padding: 0 24px;
    font-size: 18px;
}

.movieImage{
    width: 300px;
    border-radius: 5px;
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
} 

.overviewContent {
     text-align: justify; 
    }

.movieList{display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding-left: 0;  } 
  
.movieInfo{
    text-align: left;
    height: auto;
    padding: 10px 150px;
}

 .genres {margin-left: 0;
    padding-left: 0;
    list-style-type: none;}

.title {  font-size: 30px;
    font-weight: 700; 
    color: rgba(9, 60, 61, 1);
    text-shadow: 2px 2px 4px rgba(143, 199, 201, 1);
    margin: 0;
    margin-top: 0;}

.subTitle { letter-spacing: 1.7;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 500px;
    color: rgb(68, 68, 63);;
}

