.list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 0;
}
.title {
    text-align: center;
    color: rgb(47, 45, 45);
  }
  .link {
    text-decoration: none;
  }
.item{
    width: 250px;
    cursor: pointer;
    background-color: white;
}

.poster {
    width: 100%;
  }
